USE [master]
GO
/****** Object:  Database [dene]    Script Date: 30.04.2024 15:44:01 ******/
CREATE DATABASE [dene]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dene', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dene.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dene_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dene_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dene].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dene]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30.04.2024 15:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 30.04.2024 15:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfbirth] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Salary] [float] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240430064725_initial', N'8.0.4')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [DateOfbirth], [Email], [Salary]) VALUES (2, N'admin', N'admin', CAST(N'2002-02-19T00:00:00.0000000' AS DateTime2), N'admin@admin.com', 10)
INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [DateOfbirth], [Email], [Salary]) VALUES (3, N'Ceyhun', N'Öztürk', CAST(N'2002-02-19T00:00:00.0000000' AS DateTime2), N'admin@hotmail.com', 1000)
INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [DateOfbirth], [Email], [Salary]) VALUES (4, N'gdsf', N'gsdfgsd', CAST(N'2024-04-09T00:00:00.0000000' AS DateTime2), N'gsdfg@hotmail.com', 123)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
USE [master]
GO
